{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'login/css/enter.css' %}" type="text/css" />
{% endblock %}


{% block title %}
    Railways | enter
{% endblock %}

{% block heading %}
    <h1 class="left">enter</h1>
{% endblock %}

{% block  top-menu %}
    <li><a href="{% url 'main:index' %}">home</a></li>
    <li><a href="{% url 'main:about' %}">about us</a></li>
    <li><a href="{% url 'main:services' %}">services</a></li>
    <li><a href="{% url 'main:tourism' %}">tourism</a></li>
    <li><a href="{% url 'race:index' %}">freight</a></li>
    <li><a href="{% url 'main:corporate' %}">corporate</a></li>
{#				<li><a href="">careers</a></li>#}
    <li><a href="{% url 'main:contact' %}">contacts</a></li>
{% endblock %}

{% block content-wrapper %}
    <section>
    <form id="loginForm" action="{% url 'login:enter' %}" method="post" >
        {% csrf_token %}
        {% if error %}
            <p id="error_message">{{ error }}</p>
        {% endif %}
        {{ form }}
        <input type="submit" value="login" />
    </form>
    </section>
{% endblock %}