.data-table {
    width: 100%;
    border-bottom: 1px solid #c5c0c0;

    /*margin-bottom: 2%;*/
}

.data-table tr {
    padding: 0;
}

.data-table tbody {
    text-align: center;
}
.delete {
    width:10%;
}
.delete-image {
    width:25%;
}

.data-table-header {
    background-color: #1c97cf;
    color: #FFFFFF;
    /*-webkit-border-radius: 5%/50%;*/
    /*-moz-border-radius: 5%/50%;*/
    /*border-radius: 5%/50%;*/
}

.table-number {
    width: 10%;
}

.tools {
    width: 100%;
    padding: 1% 0 0 0;
}

.add-button img {
    width: 3%;
}

p{
    margin: 10px 0;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #028bca;
}
/*.add-button {*/
    /*display: block;*/
    /*width: 10%;*/
    /*padding: 0 3%;*/
    /*/!*float:left;*!/*/
    /*text-decoration: none;*/
    /*color: #FFFFFF;*/
    /*background-color: #1c97cf;*/
/*}*/