section {
    margin: 0;
    width: 100%;
}

.title{
    margin: 10px 0;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #028bca;
}

#error_message {
    width: 100%;
    margin: 0;
    text-align: center;
    color: #ff0000;
    font-size: 15px;
}

.errorlist{
    margin: 1%;
    padding-left: 6%;

}

.errorlist li {
    color: #ff0000;
    font-size: 15px;
}

#loginForm {
    font-family: serif;
    width: 50%;
    padding: 50px 0;
    margin: 0 auto;
}

#loginForm input {
    padding: 0 10px;
    font-size: 20px;
    width:100%;
    height: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid #1c97cf;
}

#loginForm input:focus {
    border-color: #00ffff;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0, 0.6);
    -moz-box-shadow: 0 0 10px rgba(0,0,0, 0.6);
    box-shadow: 0 0 10px rgba(0,0,0, 0.6);
    outline: none;
}

#loginForm input[type=submit] {
    padding: 0;
    font-size: 15px;
    color: #FFFFFF;
    width: 50%;
    margin: 10px 25%;
    border: none;
    height: 30px;
    background-color: #29c5e6;
    /*-webkit-border-radius: 3px;*/
    /*-moz-border-radius: 3px;*/
    /*border-radius: 3px;*/
}