body {
	margin: 0;
	width: 100%;
	font: 14px Tahoma, sans-serif;
	color: #8f8f8f;
	background-color: #f8f8f8;
	border-top: 5px solid #7e7e7e;
    background-image: url('../images/bg.png');
}

#wrapper {
	max-width: 960px;
	margin: 0 auto;
}

header {
	margin: 20px 0;
}

.search-input {
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
	height: 30px;
	color: #b2b2b2;
	padding: 0 10px;
	vertical-align: top;
	outline: none;
}

.search-input:focus {
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);

}

button {
	color: #fff;
	padding: 0 12px;
	background-color: #29c5e6;
	border: none;
	height: 32px;
	font-family: 'Oswald', sans-serif;
}

p{
	margin: 20px 0;
}

form[name="search"] {
	float: right;
}

/* ---------- NAVIGATION TOP_MENU ------------------- */

nav a {
	text-decoration: none;
}
nav ul {
	margin: 0;
	padding: 0;
}
nav li {
	list-style-position: inside;
	padding: 10px;
	font: 14px 'Oswald', sans-serif;
	text-transform: uppercase;
}

.top-menu li {
	display: inline-block;
	padding: 10px 41px;
	margin: 0;
}

.top-menu li.active {
	background: #29c5e6;
	color: #fff;
}
.top-menu li.active a{
	color: #fff;
}

.top-menu a {
	color: #b2b2b2;
}

/* ---------- HEADING ---------------------------------*/

#heading {
	margin: 30px 0;
	padding-left: 20px;
	background-image: url('../images/h1-bg.png');
}

#heading .left {
	display: inline-block;
	color: #7e7e7e;
	font: 40px/41px 'Oswald', sans-serif;
	text-transform: uppercase;
	margin: 0;
	padding: 0 10px;
	background-image: url('../images/bg.png');
}


/* ----------- SIDEBAR--------------------------------------*/

aside {
	float: left;
	width: 250px;
}

section {
	margin-left: 280px;
	padding-bottom: 50px;
}

.aside-menu li{
	font-weight: 300;
	list-style-type: square;
	border-top: 1px solid #e7e7e7;
}

.aside-menu li:first-child {
	border: none;
}

.aside-menu li.active {
	color: #29c5e6;
}

.aside-menu a{
	color: #8f8f8f;
}

aside h2{
	background-color: #29c5e6;
	font: 14px 'Oswald', sans-serif;
	color: #fff;
	padding: 10px;
	margin: 30px 0 0 0;
	text-transform: uppercase;
}

aside > p {
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
	padding: 10px;
	margin: 0;
}
.in-out {
    background-color: rgba(41,197,230, 0.2);
}

/* --------------- CONTENT ------------------- */
section {
    min-height: 410px;
}

blockquote {
	margin: 0;
	background-color: #29c5e6;
	padding: 10px 20px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

blockquote p {
	color: #fff;
	font-style: italic;
	font-size: 33px;
	margin: 0;
}

blockquote cite {
	display: block;
	font-size: 20px;
	font-style: normal;
	color: #1d8ea6;
	margin: 0;
	text-align: right;
}

.content-p-header {
    display: block;
    font: 18px 'Oswald', sans-serif;
    color: #29c5e6;
}

figure {
	display: inline-block;
	margin: 0;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

figure img {
	display: block;
	border: 1px solid #fff;
	outline: 1px solid #c9c9c9;
}

figure figcaption {
    width: 96px;
    font-size: 16px;
    font-weight: 300;
    margin-top: 5px;
}

figure figcaption span {
    display: block;
    font-size: 14px;
    color: #29c5e6;
}

section > figure + figure {
	margin-left: 28px;
}

section > h2 {
	display: block;
	font: 30px 'Oswald', sans-serif;
	font-weight: 300;
	background-color: #29c5e6;
	color: #fff;
	padding: 0 5px;
	margin: 30px 0 0 0;
}

.team-row {
    font-size: 12px;
	display: block;
	margin: 20px 0;
}

.team-row > figure + figure {
	margin-left: 44px;
}

/*-------------FOOTER --------------*/
footer {
	background-color: #7e7e7e;
	color: #dbdbdb;
	font-size: 11px;
}

footer p {
	margin: 5px 0;
}

footer a {
	color: #dbdbdb;
}

#footer {
	max-width: 960px;
	margin: 0 auto;
	padding: 10px 0;
	height: 90px;
}

#footer h3 {
	text-transform: uppercase;
	font: 14px 'Oswald', sans-serif;
	color: #fff;
	border-bottom: 1px solid #919191;
	margin: 0 0 10px 0;
}

#twitter time a {
	color: #b4aeae;
}

#twitter {
	float: left;
	width: 300px;
}

#twitter p {
	padding-right: 15px;
}

#sitemap {
	float: left;
	margin-left: 20px;
	width: 150px;
	/*padding-right: 15px;*/
}

#sitemap div {
	display: inline-block;
}

#sitemap > div + div {
	margin-left: 40px;
}

#sitemap a {
	display: block;
	text-decoration: none;
	font-size: 12px;
	margin-bottom: 5px;
}

#sitemap a:hover {
	text-decoration: underline;
}

#social {
	float: left;
	margin-left: 20px;
	width: 130px;
}

.social-icon {
	width: 30px;
	height: 30px;
	background: url('../images/social.png') no-repeat;
	display: inline-block;
	margin-right: 10px;
}

.social-icon-small {
	width: 16px;
	height: 16px;
	background: url('../images/social_small.png') no-repeat;
	display: inline-block;
	margin: 5px 6px 0 0;
}

.twitter {
	background-position: 0 0;
}

.facebook {
	background-position: -40px 0;
}

.google-plus {
	background-position: -80px 0;
}

.vimeo {
    background-position: 0 0;
}

.youtube {
    background-position: -24px 0;
}

.flickr {
    background-position: -48px 0;
}

.instagram {
    background-position: -72px 0;
}

.rss {
    background-position: -94px 0;
}

#copyright {
	float: right;
	margin-top: 20px;
	font-size: 10px;
	text-align: right;
}