{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Railways | about us
{% endblock %}

{% block heading %}
    <h1 class="left">about us</h1>
{% endblock %}

{% block  top-menu %}
    <li><a href="{% url 'main:index' %}">home</a></li>
    <li  class="active"><a href="{% url 'main:about' %}">about us</a></li>
    <li><a href="{% url 'main:services' %}">services</a></li>
    <li><a href="{% url 'main:tourism' %}">tourism</a></li>
    <li><a href="{% url 'race:index' %}">freight</a></li>
    <li><a href="{% url 'main:corporate' %}">corporate</a></li>
{#				<li><a href="">careers</a></li>#}
    <li><a href="{% url 'main:contact' %}">contacts</a></li>
{% endblock %}

{% block content %}
    <p></p>
{% endblock %}