{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Railways | contacts
{% endblock %}

{% block heading %}
    <h1 class="left">contacts</h1>
{% endblock %}

{% block  top-menu %}
    <li><a href="{% url 'main:index' %}">home</a></li>
    <li><a href="{% url 'main:about' %}">about us</a></li>
    <li><a href="{% url 'main:services' %}">services</a></li>
    <li><a href="{% url 'main:tourism' %}">tourism</a></li>
    <li><a href="{% url 'race:index' %}">freight</a></li>
    <li><a href="{% url 'main:corporate' %}">corporate</a></li>
{#				<li><a href="">careers</a></li>#}
    <li class="active"><a href="{% url 'main:contact' %}">contacts</a></li>
{% endblock %}

{% block aside-menu %}
    <li><a href="#">appeals</a></li>
    <li><a href="#">advertising</a></li>
    <li><a href="#">administrative procedures</a></li>
    {% if username %}
        <li class="in-out"><a href="{% url 'login:logout' %}">logout</a></li>
    {% else %}
        <li class="in-out"><a href="{% url 'login:enter' %}">enter</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <p>
        <span class="content-p-header">
            Вы можете направить в адрес руководства Белорусской железной дороги
        </span>
        <ul>
            <li>письмо: ул. Ленина,17, г. Минск, 220030, Республика Беларусь </li>
            <li>факс: (+375 17) 327 56 48;</li>
            <li>электронное сообщение: ns@rw.by.</li>
        </ul>
    </p>

    <p>
        <span class="content-p-header">
            Администратор корпоративного Интернет-сайта
        </span>
        <p>
        Свои пожелания и замечания по вопросам работы корпоративного Интернет-сайта Белорусской железной дороги
        Вы можете направить по адресу <a href="ktc@upr.mnsk.rw.by">ktc@upr.mnsk.rw.by</a>
        </p>
    </p>
{% endblock %}