{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Railways | home
{% endblock %}

{% block heading %}
    <h1 class="left">home</h1>
{% endblock %}

{% block  top-menu %}
    <li class="active"><a href="{% url 'main:index' %}">home</a></li>
    <li><a href="{% url 'main:about' %}">about us</a></li>
    <li><a href="{% url 'main:services' %}">services</a></li>
    <li><a href="{% url 'main:tourism' %}">tourism</a></li>
    <li ><a href="{% url 'race:index' %}">freight</a></li>
    <li><a href="{% url 'main:corporate' %}">corporate</a></li>
{#				<li><a href="">careers</a></li>#}
    <li><a href="{% url 'main:contact' %}">contacts</a></li>
{% endblock %}

{% block content %}
<blockquote>
    <p> “You know you're in love when you can't fall asleep because reality is finally better than your dreams.”
    </p>
    <cite>Dr. Seuss</cite>
    </blockquote>
    <p>
        <span class="content-p-header"></span>
        About this author edit data
        Theodor Seuss Geisel was born 2 March 1904 in Springfield, MA. He graduated Dartmouth College in 1925, and proceeded on to Oxford University with the intent of acquiring a doctorate in literature. At Oxford he met Helen Palmer, who he wed in 1927. He returned from Europe in 1927, and began working for a magazine called Judge, the leading humor magazine in America at the time, submitting both cartoons and humorous articles for them. Additionally, he was submitting cartoons to Life, Vanity Fair and Liberty. In some of his works, he'd made reference to an insecticide called Flit. These references gained notice, and led to a contract to draw comic ads for Flit. This association lasted 17 years, gained him national exposure, and coined the catch
    </p>
    <p>
        About this author edit data
        Theodor Seuss Geisel was born 2 March 1904 in Springfield, MA. He graduated Dartmouth College in 1925, and proceeded on to Oxford University with the intent of acquiring a doctorate in literature. At Oxford he met Helen Palmer, who he wed in 1927. He returned from Europe in 1927, and began working for a magazine called Judge, the leading humor magazine in America at the time, submitting both cartoons and humorous articles for them. Additionally, he was submitting cartoons to Life, Vanity Fair and Liberty. In some of his works, he'd made reference to an insecticide called Flit. These references gained notice, and led to a contract to draw comic ads for Flit. This association lasted 17 years, gained him national exposure, and coined the catch
    </p>
    <p>
        About this author edit data
        Theodor Seuss Geisel was born 2 March 1904 in Springfield, MA. He graduated Dartmouth College in 1925, and proceeded on to Oxford University with the intent of acquiring a doctorate in literature. At Oxford he met Helen Palmer, who he wed in 1927. He returned from Europe in 1927, and began working for a magazine called Judge, the leading humor magazine in America at the time, submitting both cartoons and humorous articles for them. Additionally, he was submitting cartoons to Life, Vanity Fair and Liberty. In some of his works, he'd made reference to an insecticide called Flit. These references gained notice, and led to a contract to draw comic ads for Flit. This association lasted 17 years, gained him national exposure, and coined the catch
    </p>
{#			<figure>#}
{#				<img src="{% static 'images/sample.png' %}" width="320" height="175"/>#}
{#			</figure>#}
{#			<figure>#}
{#				<img src="{% static 'images/sample.png' %}" width="320" height="175"/>#}
{#			</figure>#}
    <h2>OUR TEAM</h2>
    <div class="team-row">
        <figure>
            <img src="{% static 'images/sample.png' %}" width="96" height="96" alt=""/>
            <figcaption>Budko Sergey Vladimirovich<span>chief</span></figcaption>
        </figure>
        <figure>
            <img src="{% static 'images/sample.png' %}" width="96" height="96" alt=""/>
            <figcaption>Velichko Mihail Valer'evich<span>deputy chief</span></figcaption>
        </figure>
        <figure>
            <img src="{% static 'images/sample.png' %}" width="96" height="96" alt=""/>
            <figcaption>Arnaut Sergei Yakovlevich<span>financial calc.</span></figcaption>
        </figure>
        <figure>
            <img src="{% static 'images/sample.png' %}" width="96" height="96" alt=""/>
            <figcaption>Krovsh Nikolay Mihailovich<span>dev ASU & ERP</span></figcaption>
        </figure>
        <figure>
            <img src="{% static 'images/sample.png' %}" width="96" height="96" alt=""/>
            <figcaption>Semuha Pavel Pavlovich<span>social</span></figcaption>
        </figure>
    </div>
{% endblock %}