{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'main/css/table.css' %}" type="text/css" />
    <script src="{% static 'race/js/table_href.js' %}" type="text/javascript"></script>
{% endblock %}
{% block content %}
    <p>Маршруты</p>
    <div class="subcontent">
        <table class="data-table">
            <thead class="data-table-header">
                <tr>
                    <th class="table-number">№</th>
                    <th>Откуда</th>
                    <th>Куда</th>
                    <th>Вагонов</th>
                </tr>
            </thead>
            <tbody class="data-table-body">
                {%for race in races %}
                <tr onclick="window.location.href='/races/{{ race.id }}'; return false">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ race.id_from.name }}</td>
                    <td>{{ race.id_to.name }}</td>
                    <td>{{ race.wagons }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="tools">
            <a href="{% url 'race:add' %}" class="add-button">
                <img src="{% static 'main/images/add_button.png' %}"/>
            </a>
        </div>
    </div>
{% endblock %}