{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'main/css/table.css' %}" type="text/css" />
    <script src="{% static 'race/js/table_href.js' %}" type="text/javascript"></script>
{% endblock %}
{% block content %}
    <p>{{ race.id_from.name }} - {{ race.id_to.name }}</p>
    <ul>
    {% for cargo in race.cargos.all %}
        <li>{{ cargo.name }}</li>
    {% endfor %}
    </ul>
{% endblock %}