{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    {% block head %}
	<meta http-equiv="Content-type" content="text/html" charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">

	<title>{% block title %}Railways{% endblock %}</title>

	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">

	<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% endblock %}
</head>
<body>
	<div id="wrapper">
		<header>
            {% block header %}
			<a href="{% url 'main:index' %}"><img src="{% static 'images/logo.png' %}" alt="railways logo" /></a>
			<form name="search" action="#" method="get">
				<input class="search-input" type="text" name="q" placeholder="search"/><button type="submit">GO</button>
			</form>
            {% endblock %}
		</header>
		<nav>
			<ul class="top-menu">
                {% block  top-menu %}
				    <li><a href="{% url 'main:index' %}">home</a></li>
                    <li><a href="{% url 'main:about' %}">about us</a></li>
                    <li><a href="{% url 'main:services' %}">services</a></li>
                    <li><a href="{% url 'main:tourism' %}">tourism</a></li>
                    <li><a href="{% url 'main:freight' %}">freight</a></li>
                    <li><a href="{% url 'main:corporate' %}">corporate</a></li>
                {#				<li><a href="">careers</a></li>#}
                    <li><a href="{% url 'main:contact' %}">contacts</a></li>
			    {% endblock %}
            </ul>
		</nav>
		<div id="heading">
            {% block heading %}
			<h1 class="left">railways</h1>
            {% endblock %}
		</div>
		<div class="content-wrapper">
        {% block content-wrapper %}
        <aside>
			<nav>
				<ul class="aside-menu">
                    {% block aside-menu %}
					<li><a href="">ticket sales</a></li>
					<li><a href="">buy online</a></li>
					<li><a href="">discounts</a></li>
                    {% if username %}
                        <li class="in-out"><a href="{% url 'login:logout' %}">logout</a></li>
                    {% else %}
                        <li class="in-out"><a href="{% url 'login:enter' %}">enter</a></li>
                    {% endif %}
{#					<li><a href="">LOREM IPUSUM</a></li>#}
{#					<li><a href="">LOREM IPUSUM</a></li>#}
{#					<li><a href="">LOREM IPUSUM</a></li>#}
				    {% endblock %}
                </ul>
			</nav>
			<h2>our offices</h2>
			<p><img src="{% static 'images/sample.png' %}" width="230" height="180" alt="our offices"/></p>
		</aside>
		<section>
            {% block content %}

            {% endblock %}
		</section>
        {% endblock %}
        </div>
	</div>
	<footer>
		<div id="footer">
            {% block footer %}
			<div id="twitter">
				<h3>twitter feed</h3>
				<time datetime="2015-07-01"><a href="">23 oct</a></time>
				<p>#asdfa sadfp asof pa pasdf #asda #fkf</p>
			</div>
			<div id="sitemap">
				<h3>sitemap</h3>
				<div>
					<a href="#">Home</a>
					<a href="#">About</a>
					<a href="#">Services</a>
				</div>
				<div>
					<a href="#">Partners</a>
					<a href="#">Support</a>
					<a href="#">Contact</a>
				</div>
			</div>
			<div id="social">
			    <h3>SOCIAL NETWORKS</h3>
			    <a href="http://twitter.com/" class="social-icon twitter"></a>
			    <a href="http://facebook.com/" class="social-icon facebook"></a>
			    <a href="http://plus.google.com/" class="social-icon google-plus"></a>
			    <a href="http://vimeo.com/" class="social-icon-small vimeo"></a>
			    <a href="http://youtube.com/" class="social-icon-small youtube"></a>
			    <a href="http://flickr.com/" class="social-icon-small flickr"></a>
			    <a href="http://instagram.com/" class="social-icon-small instagram"></a>
			    <a href="/rss/" class="social-icon-small rss"></a>
			</div>
			<div id="copyright">
				<a href="{% url 'main:index' %}"><img src="{% static 'images/footer-logo.png' %}" /></a>
				<p>Copyright &copy 2015 devforyou</p>
			</div>
            {% endblock %}
		</div>
	</footer>
</body>
</html>