{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Railways | freight
{% endblock %}

{% block heading %}
    <h1 class="left">stations</h1>
{% endblock %}

{% block  top-menu %}
    <li><a href="{% url 'main:index' %}">home</a></li>
    <li><a href="{% url 'main:about' %}">about us</a></li>
    <li><a href="{% url 'main:services' %}">services</a></li>
    <li><a href="{% url 'main:tourism' %}">tourism</a></li>
    <li class="active"><a href="{% url 'race:index' %}">freight</a></li>
    <li><a href="{% url 'main:corporate' %}">corporate</a></li>
{#				<li><a href="">careers</a></li>#}
    <li><a href="{% url 'main:contact' %}">contacts</a></li>
{% endblock %}

{% block aside-menu %}
    <li><a href="{% url 'race:index' %}">races</a></li>
    <li><a href="{% url 'station:index' %}">stations</a></li>
    <li><a href="{% url 'cargo:index' %}">cargos</a></li>
    {% if username %}
        <li class="in-out"><a href="{% url 'login:logout' %}">logout</a></li>
    {% else %}
        <li class="in-out"><a href="{% url 'login:enter' %}">enter</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>№</th>
                <th>Название</th>
            </tr>
        </thead>
        <tbody>
        {% for st in stations %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ st.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p></p>
{% endblock %}